body{
    width:350px;
    background:#000;
    color:#fff;
    font-family:Arial,sans-serif;
    padding:15px;
}

.header{
    text-align:center;
}

.logo{
    width:70px;
    height:70px;
}

.header h2{
    color:#ff6600;
    margin-top:5px;
}

.dashboard{
    margin-top:15px;
}

.metric{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:#111;
    margin:10px 0;
    padding:12px;
    border-left:5px solid #ff6600;
    border-radius:10px;
}

.metric span{
    color:#ddd;
}

.metric strong{
    color:#ff6600;
    font-size:18px;
}

.score{
    margin-top:15px;
    text-align:center;
    background:#111;
    border-radius:10px;
    padding:10px;
}

.score h1{
    color:#ff6600;
    margin:5px;
}